@import 'main';

$header-height: 7vh;
$header-font-size: 15px;

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  color: rgb(255, 255, 255);
  background-color: $backgroundColor2;
    .menu-svg_dif {
      fill: rgb(255, 255, 255);
    }
}

.light {
  color: rgb(0, 0, 0);
  background-color: $backgroundColor;
    .menu-svg_dif {
      fill: rgb(0, 0, 0);
    }
}

#app {
  display: grid;
  box-sizing: border-box;
}

.buttMenu {
  height: $header-height;
  background-color: rgb(48, 214, 98);
    .svg {
      width: 25px;
      height: inherit;
      margin: 0 20px;
    }
}

header {
  height: $header-height;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nameProject {
  margin-left: 10px;
  text-shadow: 2px 3px 3px;
  font-size: $header-font-size+5px;
}

main {
  height: 100-$header-height;
  box-sizing: border-box;
  overflow: auto;
}

.menu-svg {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.roulink {
  text-decoration: none;
  line-height: $header-height;
}

.firstButt, .secondButt, .thirdButt {
  border: 0px;
  height: $header-height;
  display: inline-block;
  font-size: $header-font-size;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  background-color: rgb(219, 51, 76);
  color: rgb(0, 0, 0);
  width: 88px;
  box-sizing: border-box;
}

.twoButt {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.threeButt {
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.firstButt:hover, .secondButt:hover {
  background-color: rgb(168, 28, 49);
}

.buttMenu:hover {
  .hideMenu {
    visibility: visible;
  }
  .thirdButt {
    background-color: rgb(168, 28, 49);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: inherit;
}

li a {
  display: block;
  color: inherit;
  text-decoration: none;
  text-align: left;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}

li a::before {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
  background-color: aqua;
  height: 100%;
}

.router {
  display: flex;
  align-items: center;
}

li:hover {
  background-color: rgb(177, 206, 151);
    a {
      color: rgb(5, 6, 110);
      text-shadow: 2px 3px 3px;
    }
    .menu-svg_dif {
      fill: rgb(0, 0, 0);
    }
}

.hideMenu {
  visibility: hidden;
  position: absolute;
  top: $header-height;
  right: 0;
  min-width: 200px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-sizing: border-box;
  font-size: $header-font-size + 1px;
  z-index: 1;
}

video::-webkit-media-controls-panel {
  border-radius: 10px;
  object-fit: cover;
  background-image: linear-gradient(transparent, transparent) !important;
}