@import 'main';

.tweet1 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 14px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
    &:hover {
      box-shadow: 0 0 10px rgb(40, 63, 68);
    }
}

.dark {
  background-color: $backgroundColor2-2;
}

.light {
  background-color: $backgroundColor-2;
}

header, main, footer {
  position: relative;
  height: auto;
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

.main1 {
  flex-flow: column wrap;
}

.postPhotoAndVideo1 {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
    .postPhotoAndVideo_Image1 {
      padding-right: 5px;
    }
}

.postMessage1 {
  align-self: flex-start;
  justify-content: flex-start;
}

aside {
  grid-row: 1/4;
  justify-content: center;
  align-items: center;
}

footer {
  padding-top: 15px;
  padding-bottom: 10px;
    &
    :first-child {
      margin-left: 0;
    }
    :last-child {
      margin-right: 0;
    }
}

.icon1 {
  width: 30px;
  height: 30px;
}

.buttonLikes1 {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  border-radius: 25px;
  color: inherit;
  margin: 0 30px;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
      &:hover {
      .logoRetweet1 {
        fill: rgb(20, 192, 20);
      }
      .logoLike1 {
        fill: rgb(226, 35, 35);
      }
    }
    .logoContainer1 {
      margin-right: 5px;
    }
    .logoRetweet1, .logoLike1 {
      fill: rgb(128, 128, 128);
    }
}

.light-green:hover {
  background: rgba(20, 192, 20, 0.1);
}

.light-red:hover {
  background: rgba(226, 35, 35, 0.1);
}

.postPhoto1 {
  width: 200px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.close1 {
  position: absolute;
  top: 0%;
  background-color: rgb(114, 31, 31);
  border-radius: 25px;
  right: 0%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

