body {
    background:
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }

  .form {
    position: relative;
    border: 1px solid black;
    width: 350px;
    height: 300px;
    margin: 60px auto;
    padding: 10px;
    background-color: rgb(0, 0, 63);
    opacity: 0.8;
  }

  .inputEmail {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
  }

  .inputPassword {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    opacity: 1;
  }

  .inputBoth {
    padding-left: 10px;
    font-size: 15px;
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid white;
    background-color: grey;
    box-sizing: border-box;
    color: white;
    opacity: 1;
  }

  .inputBoth:focus {
    background-color: white;
    color: black;
  }

  ::placeholder {
    color: rgb(255, 255, 255);
  }

  .vspishka {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
    padding: 20px;
    background-color: #4CAF50;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    opacity: 1;
  }

  .vspishka:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

  .vspishka:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .labelSignIn {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 39%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
  }

  .labelSignUp {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 39%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
  }

  .labelSignIn:hover, .labelSignUp:hover {
    border: 1px solid black;
  }
