.tweet {
  border-bottom: 1px solid rgb(230, 227, 227);
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 14px;
}

header, main, footer {
  position: relative;
  height: auto;
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

.main {
  flex-flow: column wrap;
}

.postPhotoAndVideo {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
    .postPhotoAndVideo_Video, .postPhotoAndVideo_Image {
      padding-right: 5px;
    }
}

.postMessage {
  align-self: flex-start;
  justify-content: flex-start;
}

aside {
  grid-row: 1/4;
  justify-content: center;
  align-items: center;
}

footer {
  padding-top: 15px;
  padding-bottom: 10px;
    &
    :first-child {
      padding-left: 0;
    }
    :last-child {
      padding-right: 0;
    }
}

.icon {
  width: 50px;
  height: 50px;
}

.buttonLikes {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
      &:hover {
      .logoSpeech {
        fill: rgb(30, 51, 238);
      }
      .logoRetweet {
        fill: rgb(20, 192, 20);
      }
      .logoLike {
        fill: rgb(226, 35, 35);
      }
      .logoStat {
        fill: rgb(44, 41, 228);
      }
    }
    .logoContainer {
      margin-right: 5px;
    }
}

.postPhoto {
  width: 200px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.close {
  position: absolute;
  top: 0%;
  background-color: rgb(114, 31, 31);
  border-radius: 25px;
  right: 0%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
