@import 'main';
$addbutton: 120px;

.viewPost {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;
  font-size: 15px;
    .viewPost-tweet {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .viewPost-modal {
      grid-column: 3/4;
    }
    .viewPost-comments {
      grid-column: 2/3;
      grid-row: 3/4;
    }
}

.dark {
  .viewPost-tweet {
    background-color: $backgroundColor2-2;
  }
}

.light {
  .viewPost-tweet {
    background-color: $backgroundColor-2;
  }
}

.viewPost-tweet {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto;
  border-radius: 15px;
  padding-top: 10px;
  margin-top: 10px;
    &:hover {
      box-shadow: 0 0 10px rgb(40, 63, 68);
    }
}

header, main, footer {
  position: relative;
  height: auto;
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

.main {
  flex-flow: column wrap;
}

.postPhotoAndVideo {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
    .postPhotoAndVideo_Video, .postPhotoAndVideo_Image {
      padding-right: 5px;
    }
}

.postMessage {
  align-self: flex-start;
  justify-content: flex-start;
}

aside {
  grid-row: 1/4;
  justify-content: center;
  align-items: center;
}

footer {
  padding-top: 15px;
  padding-bottom: 10px;
    &
    :first-child {
      margin-left: 0;
    }
    :last-child {
      margin-right: 0;
    }
}

.icon {
  width: 50px;
  height: 50px;
}

.buttonLikes {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  border-radius: 25px;
  margin: 0 30px;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
      &:hover {
        .logoSpeech {
          fill: rgb(30, 51, 238);
        }
        .logoRetweet {
          fill: rgb(20, 192, 20);
        }
        .logoLike {
          fill: rgb(226, 35, 35);
        }
      }
    .logoContainer {
      margin-right: 5px;
    }
    .logoSpeech, .logoRetweet, .logoLike {
      fill: rgb(128, 128, 128);
    }
}

.light-blue:hover {
  background: rgba(30, 51, 238, 0.1);
}

.light-green:hover {
  background: rgba(20, 192, 20, 0.1);
}

.light-red:hover {
  background: rgba(226, 35, 35, 0.1);
}

.postPhoto {
  width: 200px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.close {
  position: absolute;
  top: 0%;
  background-color: rgb(114, 31, 31);
  border-radius: 25px;
  right: 0%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.add-tweet-button {
  font-size: 20px;
  position: fixed;
  bottom: 15vh;
  right: 20vh;
  width: $addbutton;
  height: $addbutton;
  background-color: rgb(45, 123, 187);
  border-radius: $addbutton/2;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.75);
  cursor: pointer;
    p {
      line-height: $addbutton;
      padding: 0;
      margin: 0;
    }
}

.add-tweet-button::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $addbutton/2;
  box-shadow: 0px 0px 8px 6px rgba(163, 161, 161, 0.75);
  transition: 0.4s ease-in-out;
  opacity: 0;
}

.add-tweet-button:hover::before {
  opacity: 1;
}